<div>
  <!-- header area start -->
  <!-- <app-header-one [top_bar]="false" header_cls="header__white-solid" bottom_cls=" " [header_solid]="true" [common_offcanvas]="true"></app-header-one> -->
  <!-- header area end -->

  <main>
   <!-- error area start -->
   <section class="error__area error__bg pb-110">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8 col-md-10">
             <div class="error__wrapper p-relative z-index-1 text-center">
                <h4 class="error__text">REAL</h4>
                <div class="error__thumb mb-35">
                  <img src="/assets/img/error/coming.png">
                </div>
                <div class="error__content">
                   <h3 class="error__title">En Construccion</h3>
                   <p>Estamos trabajando arduamente para brindarles un mejor servicio.</p>
                   <a  class="tp-btn">
                    <audio controls src="https://radiordomi.com:8174/stream"></audio>

                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
   </section>
   <!-- error area end -->
  </main>

   <!-- footer area start -->
   <!-- <app-footer-six [style_2]="true"></app-footer-six> -->
   <!-- footer area end -->
</div>
